<a href="https://colab.research.google.com/github/mesha4545a/Assigment-2/blob/master/function2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
x = [ [5,2,3], [10,8,9] ] 
students = [
     {'first_name':  'Michael', 'last_name' : 'Jordan'},
     {'first_name' : 'John', 'last_name' : 'Rosales'}
]
sports_directory = {
    'basketball' : ['Kobe', 'Jordan', 'James', 'Curry'],
    'soccer' : ['Messi', 'Ronaldo', 'Rooney']
}
z = [ {'x': 10, 'y': 20} ]

In [11]:
x[1][0] = 15
print(x)

[[5, 2, 3], [15, 8, 9]]

In [17]:
students[0]["last_name"] = "'Bryant"
print(students)

[{'first_name': 'Michael', 'last_name': "'Bryant"}, {'first_name': 'John', 'last_name': 'Rosales'}]

In [20]:
sports_directory['soccer'][0] = "Andres"
print(sports_directory)

{'basketball': ['Kobe', 'Jordan', 'James', 'Curry'], 'soccer': ['Andres', 'Ronaldo', 'Rooney']}

In [27]:
z[0]["y"] = 30
print(z)

[{'x': 10, 'y': 30}]

In [62]:
students = [
         {'first_name':  'Michael', 'last_name' : 'Jordan'},
         {'first_name' : 'John', 'last_name' : 'Rosales'},
         {'first_name' : 'Mark', 'last_name' : 'Guillen'},
         {'first_name' : 'KB', 'last_name' : 'Tonel'}
    ]

for i in range(len(students)):
  first = students[i]['first_name']
  last = students[i]['last_name']

  print("frist_name- " + first +"," +" last_name- " + last)

frist_name- Michael, last_name- Jordan
frist_name- John, last_name- Rosales
frist_name- Mark, last_name- Guillen
frist_name- KB, last_name- Tonel

In [71]:
 def iterateDictionary2 (key_name, some_list):
   for i in range(len(students)):
     out = students[i][key_name]
     print(out)
 
iterateDictionary2('last_name', students)

Jordan
Rosales
Guillen
Tonel

In [291]:
dojo = {
   'locations': ['San Jose', 'Seattle', 'Dallas', 'Chicago', 'Tulsa', 'DC', 'Burbank'],
   'instructors': ['Michael', 'Amy', 'Eduardo', 'Josh', 'Graham', 'Patrick', 'Minh', 'Devon']
}

def printInfo(dojo):
  
  for i in dojo:
    print(i , len(dojo[i]))
    for j in dojo[i]:
      print(j)
    print("")
    
    
  
          
    


  
printInfo(dojo)

locations 7
San Jose
Seattle
Dallas
Chicago
Tulsa
DC
Burbank

instructors 8
Michael
Amy
Eduardo
Josh
Graham
Patrick
Minh
Devon